Repository aio-libs/multidict: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role

.pre-commit-config.yaml:

---

ci:
  autoupdate_schedule: quarterly

repos:
- repo: local
  hooks:
  - id: changelogs-rst
    name: changelog filenames
    language: fail
    entry: >-
      Changelog files must be named
      ####.(
      bugfix
      | feature
      | deprecation
      | breaking
      | doc
      | packaging
      | contrib
      | misc
      )(.#)?(.rst)?
    exclude: >-
      (?x)
      ^
        CHANGES/(
          \.gitignore
          |\d+\.(
            bugfix
            |feature
            |deprecation
            |breaking
            |doc
            |packaging
            |contrib
            |misc
          )(\.\d+)?(\.rst)?
          |README\.rst
          |\.TEMPLATE\.rst
        )
      $
    files: ^CHANGES/
  - id: changelogs-user-role
    name: Changelog files should use a non-broken :user:`name` role
    language: pygrep
    entry: :user:([^`]+`?|`[^`]+[\s,])
    pass_filenames: true
    types:
    - file
    - rst

...

Create 907.misc.rst
  CHANGES/907.misc.rst
Due: changelogs-user-role

📝 Mark "downstreams" as a known word
  docs/spelling_wordlist.txt
Due: none

ci-cd: Enable building a pure Python wheel
  .github/workflows/ci-cd.yml
Due: none

CHANGES.rst: Update URL
  CHANGES.rst
Due: changelogs-user-role

Add NEWS entry for 881
  CHANGES/881.feature.rst
Due: changelogs-user-role

Fix issue in MULTIDICT_NO_EXTENSIONS handling
  multidict/_compat.py
  setup.py
Due: none

Add a change note for PR #828
  CHANGES/828.contrib.rst
Due: changelogs-user-role

Fix strict-prototypes compile warnings
  multidict/_multidict.c
  multidict/_multilib/iter.h
  multidict/_multilib/views.h
Due: none

Fix strict-prototypes compile warnings (#828)
  CHANGES/828.contrib.rst
  multidict/_multidict.c
  multidict/_multilib/iter.h
  multidict/_multilib/views.h
Due: changelogs-user-role

Add "lockfile" to known words
  docs/spelling_wordlist.txt
Due: none

Fix cibuildwheel test-requires
  pyproject.toml
Due: none

Add a change note for PR #827
  CHANGES/827.contrib.rst
Due: changelogs-user-role

Change `cibuildwheel` `test-requires` lockfile to `pytest.txt` (#827)
  CHANGES/827.contrib.rst
  docs/spelling_wordlist.txt
  pyproject.toml
Due: changelogs-user-role

Switch the change note type to `packaging`
  CHANGES/802.packaging.rst
Due: changelogs-user-role

Add history fragment
  CHANGES/802.misc.rst
Due: changelogs-user-role

past tense
  CHANGES/802.misc.rst
Due: changelogs-user-role

Specify the build system in pyproject.toml
  pyproject.toml
Due: none

Update inline highlighting in PE #802 change note
  CHANGES/802.misc.rst
Due: changelogs-user-role

Sign the change note
  CHANGES/802.misc.rst
Due: changelogs-user-role

Record "backend" as a known word
  docs/spelling_wordlist.txt
Due: none

Drop the dot from option spec @ change note
  CHANGES/802.packaging.rst
Due: changelogs-user-role

Specify the build system in pyproject.toml (#802)
  CHANGES/802.packaging.rst
  docs/spelling_wordlist.txt
  pyproject.toml
Due: changelogs-user-role

📝💅 Allow linking commits in changelog
  .pre-commit-config.yaml
  CHANGES/.TEMPLATE.rst
  pyproject.toml
Due: changelogs-user-role

📦 Stop marking arbitrary files as package data
  setup.py
Due: none

Add a change note for commit 31e1170
  CHANGES/31e1170.packaging.rst
Due: changelogs-rst, changelogs-user-role

🚑📝 Make commit 31e1170 change note longer
  CHANGES/31e11709ad59753f38b5f1a89716788025dc4718.packaging.rst
Due: changelogs-rst, changelogs-user-role

📦 Set package long description content type
  .github/workflows/ci-cd.yml
  setup.py
Due: none

Revert "🚑📝 Make commit 31e1170 change note longer"
  CHANGES/31e1170.packaging.rst
Due: changelogs-rst, changelogs-user-role

🚑 Use 'f' @ commit hashes @ Towncrier template
  CHANGES/.TEMPLATE.rst
Due: changelogs-user-role

💄🧪 Separate linting into a reusable workflow
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
Due: none

Replace `setup.py` invocations with `build` in CI
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
Due: none

🧪 Cache pre-commit.com virtualenvs @ CI
  .github/workflows/reusable-linters.yml
Due: none

📦🎨 Move package attrs to declarative config
  setup.cfg
  setup.py
Due: none

🔥 Drop deprecated `setup.py test` interface
  setup.cfg
Due: none

🧪 Enable Merge Queues support in GHA
  .github/workflows/ci-cd.yml
Due: none

🧪 Clarify that GHA workflow is also CD
  .github/workflows/ci-cd.yml
Due: none

🧪📦 Build pure-python "any" wheel too @ CI/CD
  .github/workflows/ci-cd.yml
Due: none

🧪📦 Build pure dists @ GHA unconditionally
  .github/workflows/ci-cd.yml
Due: none

📝 Add a change note for 7ba0e72
  CHANGES/7ba0e72.packaging.rst
Due: changelogs-rst, changelogs-user-role

💄🧪 Make colorization in CI global
  .github/workflows/ci-cd.yml
  .github/workflows/reusable-linters.yml
Due: none
